header {
  position: fixed;
  right: 0px;
    left: 0px;
  z-index: 3;
  background-color: white;
  padding: 20px 10%;
  display: block;
  padding: 10px auto;
}

span button {
  border: none;
  background-color: white;
}

.btn-sm {
display: flex inline-block;
float: right;
}

.btn-sm :nth-child(4) {
  border: solid 2px grey;
  padding: 8px 20px;
}

.home {
font-family: 'Red Rose', cursive;
width: 100px;
text-align: left;

}
.content {
  position: absolute;
  z-index: 1;
}

.first {
  background-color: hsl(260, 26%, 20%);
  color: white;
  padding: 120px 50% 80px 10%;
  font-family: 'Karla', sans-serif;
}

h1 {
  font-family: 'DM Serif Display', serif;
  font-size: 3rem;
}

.line {
  border-top: solid 1px white;
  width: 100px;
  height: 50px;
}

.line-2 {
width: 100px;
  margin: 100px 0 50px;
  border-top: solid 1px hsl(273, 4%, 51%);
}

div button {
  margin-top: 20px;
  background-color: inherit;
  border-color: white;
  color: white;
  padding: 5px 20px;
}

img {
  position: absolute;
  z-index: 2;
  width: 400px;
  height: 500px;
  margin: 120px 10% 100px 55%;
}

.second {
  padding: 100px 10%;
}

.flex-container {
  display: flex;
  justify-content: center;
  margin: 80px auto;
}

.flex-container :first-child {
  margin-top: 0;
}

svg {
  display: block;
  margin-bottom: 30px;
}

h2 {
  font-size: 1.5 rem;
  font-family: 'DM Serif Display', serif;
  margin-bottom: 20px;
}

h2 p {
  margin-right: 20px;
}

.third {
  margin: 0 10% 100px 10%;
  background-color: hsl(256, 26%, 20%);
  color: white;
  height: 200px;
}

.third button {
  position: absolute;
  margin: 83px 0 83px 200px;
}

.third h1 {
  display: inline-block;
  padding: 43px 5%;
}


.fourth {
  background-color: hsl(0, 0%, 98%);
  padding: 50px 10%;
  text-transform: uppercase;

}

.fourth h3 {
  display: inline-block;

  font-family: 'Red Rose', cursive;
}

.fourth svg {
  display: inline-block;
  margin-bottom: 20px;
  position: absolute;
  right: 10%;
}

.icon :nth-child(2) {
  width: 160px;
}

.icon :nth-child(3) {
  width: 116px;
}

.icon :nth-child(4) {
  width: 72px;
}

.flex {
  display: flex;
  flex-wrap: wrap;
  padding: 0 0 0 0;
}

.flex div {
  width: 25%;
  font-size: 1 rem;
  padding-right: 100px;
}

.flex div h4 {
  width: 200px;
  color: grey;
  font-size: 16px;
  margin-bottom: 40px;
  margin-top: 20px;

}

.attribution p {
  text-align: center;
  background-color: hsl(0, 0%, 98%);
  margin-bottom: 0;
}

.icon {
  border-bottom: solid 1px grey;
  margin-bottom: 30px;
}
.sap svg {
  border-top-width: 0;
